@import '../../../../styles/colors';
@import '../../../../styles/misc';

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    background-color: aqua;
    border-radius: $border-radius;
    padding: 1em 2em;
    top: calc(100% + 10px);
    left: 0;

    input, button {
        padding: 0.5em 1em;
        border-style: none;
        border-radius: $border-radius;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }
    
}