@import '../../../../../styles/colors.scss';


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em 2em;
    width: 33vw;
    height: 33vh;
    border-radius: 16px;
    background-color: $black-0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__buttons {
        display: flex;
        width: 100%;
        justify-content: space-around;

        button {
            border-style: none;
            padding: 1em 2em;
            border-radius: 16px;
            font-size: 1rem;
            font-weight: 700;
        }

        &__cancel {
            background-color: $gray-1;
            color: $white-2;

            &:hover {
                background-color: $gray-2;
            }
        }

        &__edit {
            background-color: $white-1;

            &:hover {
                background-color: white;
            }
        }
    }
}