@import '../../../styles/misc';
@import '../../../styles/colors';


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: $border-radius;
    background-color: blue;
}