@import '../../../styles/misc';
@import '../../../styles/colors';

.container {
    position: relative;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: $border-radius;
    cursor: pointer;
    background-color: $white1;
    color: $black0;

    &:hover {
        background-color: $white3;
    }
}