@import '../../../styles/misc';
@import '../../../styles/colors';


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: $border-radius;
    cursor: pointer;
    background-color: darkblue;
    position: relative;

    &:hover {
        background-color: blue;
    }
}