@import '../../../../styles/colors.scss';

.task_options{
    display: flex;
    justify-content: center;
    align-items: center;

    
    &__kebabMenu{
        padding: 0 0.5em;
        
        &:hover {
            background-color: $gray-1;
            border-radius: 8px;
        }
    }
    &__menu {
        display: flex;
        border-radius: 16px;
        border: 1px solid $gray-1;
        background-color: $black-2;
        // padding: 0.5em 1em;
        // gap: 1em;
        position: absolute;
        transform: translate(20%, -50%);

        &__editBtn,
        &__deleteBtn,
        &__checkBtn {
            border-radius: 8px;
            padding: 0.5em;
            // margin: 0.25em;
            &:hover {
                background-color: $gray-1;
            }
        }
    }
}