@import '../../../../styles/colors.scss';

.task_options{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: blue;
    width: 32px;
    height: 80%;
    border-radius: 8px;

    &:hover {
        background-color: $gray-1;
    }

    &__menu {
        display: flex;
        border-radius: 8px;
        border: 1px solid $gray-1;
        background-color: $black-2;
        padding: 10px;
        gap: 10px;
        position: absolute;
        // transform: translateX(20%);
        // transform: translateY(-20%);



        &__editBtn,
        &__deleteBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            border-radius: 8px;


            &:hover {
                background-color: $gray-1;
            }
        }
    }
}