@import '../../../../styles/colors';
@import '../../../../styles/misc';

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    position: relative;
    padding: 0.5em 1em;
    border-radius: $border-radius;
    background-color: orangered;

    &__inputName,
    &__taskName {
        flex-grow: 1;
    }
    
    &__inputName,
    &__inputPlannedTime {
        border-style: none;
        border-radius: $border-radius;
        padding: 0.25em 0.5em;
        background-color: $white3;

        &:hover {
            background-color: $black3;
        }
    }
}