@import '../../../../styles/colors';
@import '../../../../styles/misc';

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    position: relative;
    padding: 0.5em 1em;
    border-radius: $border-radius;
    border: 1px solid $black3;
    background-color: $black2;
    color: $white3;
    z-index: 3;

    &:hover {
         background-color: $black1;
    }

    &__inputName,
    &__taskName {
        font-size: 1rem;
        flex-grow: 1;
    }
    
    &__inputName,
    &__inputPlannedTime {
        border-style: none;
        border-radius: $border-radius;
        border: 1px solid $black3;
        padding: 0.5em 1em;
        background-color: $black4;
        color: $white3;

        &:hover {
            background-color: $black3;
        }
    }
}