@import '../../../styles/colors.scss';

.taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 33vw;
    border: 1px solid $gray-1;
    border-radius: 16px;
    background-color: $black-2;
    color: $white-2;
    cursor: pointer;

    &:hover {
        background-color: black;
    } 

    &__text {
        display: flex;
    }
}