@import '../../../../../../styles/colors';
@import '../../../../../../styles/misc';


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    background-color: goldenrod;
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    padding: 1em;
    border-radius: $border_radius;

    div {
        display: flex;
    }
}