@import '../../styles/colors.scss';

.searchbar {
    border-style: none;
    border-radius: 16px;
    // width: 256px;
    height: 5vh;
    margin-left: 32px;
    background-color: $gray-1;
    color: $white-1;
    padding: 0 16px;
    font-size: 1rem;

    &:hover {
        background-color: $gray-3;
    }
}