@import '../../../../../styles/colors';
@import '../../../../../styles/misc';



.buttonContainer {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black2;
    border-radius: $border_radius;
    padding: 0.25em 0.5em; 
}
