@import '../../../styles/colors.scss';


.container {
    box-sizing: border-box;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // text-align: start;
    // padding: 1em 2em;
    // gap: 1em;
    border: 1px solid $gray-1;
    background-color: $black-2;
    border-radius: 16px;    
    position: absolute;
    // transform: translateY(100%);
    top: 100%;
    left: 0;

    input {
        border-style: none;
        border-radius: 16px;
        // width: 256px;
        // height: 5vh;
        // margin-left: 32px;
        background-color: $gray-1;
        color: $white-1;
        margin: 1em 2em;
        padding: 0.5em 1em;
        font-size: 1rem;
    
        &:hover {
            background-color: $gray-3;
        }
    }
    
}