@import '../../../styles/colors.scss';


.container {
    box-sizing: border-box;
    border: 1px solid $gray-1;
    background-color: $black-2;
    border-radius: 16px;    
    position: absolute;
    top: 110%;
    left: 0;

    input {
        border-style: none;
        border-radius: 16px;
        background-color: $gray-1;
        color: $white-1;
        margin: 1em 2em;
        padding: 0.5em 1em;
        font-size: 1rem;
    
        &:hover {
            background-color: $gray-3;
        }
    }
    
}
.create_button {
    border-style: none;
    border-radius: 16px;
    background-color: $gray-4;
    color: $black-0;
    margin: 1em 2em;
    padding: 0.5em 1em;
    font-size: 1rem;
    
    &:hover {
        background-color: $white-1;
    }
}