@import './styles/colors.scss';


* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.body{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: $primary-gray;
  color: $primary-white;
  
  &__content {
    display: flex;
    background-color: brown;
    margin: 100px 0;
  }
  
}

.tasks {
  // margin-top: 20vh;

  &__search {
    padding-left: 50px;
    background-color: yellow;
  }

  &__list {
    margin: 50px 0;
    background-color: blue;
  }
}

.timer{
  background-color: green;
}