@import './styles/colors.scss';


* {
  margin: 0;
  padding: 0;
  
}

li {
  list-style: none;
}

.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:"header header header"
                      "main main aside"
                      "footer footer footer";

  grid-template-columns: auto auto auto;
  grid-template-rows: auto 1fr auto;
  background-color: $primary-gray;
}

.header {
  grid-area: header;
  // background-color: red;
}

.task {
  grid-area: main;
  background-color: $secundary-gray;
  // background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4%;
  margin: 32px 16px 32px 32px;
  border-radius: 16px;

  &__chronometer {
    margin: 4%;
    flex-grow: 1;
    color: $secundary-white;
  }

  &__search {
    // background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__addBtn {
    background-color: $primary-black;
    color: $secundary-white;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    
    &:hover {
      background-color: black;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    // background-color: orangered;
    width: 66%;
    height: 50%;
    margin: 4% 0;
  }
}

.timer {
  grid-area: aside;
  background-color: $secundary-gray;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 32px 32px 32px 16px;
  border-radius: 16px;
  
  &__display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px 16px 0 16px;
    width: 256px;
    height: 128px;
    background-color: $primary-gray;
    color: $secundary-white;
    border-radius: 16px;
  }

  &__log {
    flex-grow: 1;
    // background-color: blue;
    background-color: $primary-gray;
    color: $secundary-white;
    margin: 10% 0;
    width: 80%;
    border-radius: 16px;
  }
}

.footer{
  grid-area: footer;
  position: relative;
  bottom: 0;
  // background-color: green;
}