@import './styles/colors.scss';


* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $gray-1;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;

  &__task {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $black-2;
    border-radius: 16px;
    width: 66vw;
    margin: 2em 1em 2em 2em;
    padding: 1em 2em;

    &__chronometer {
      color: $gray-4;
    }

    &__search {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $black-2;
    border-radius: 16px;
    padding: 2em;
    margin: 2em 2em 2em 1em;
    gap: 20px;
    padding: 2em;

    &__log {
      flex-grow: 1;
      background-color: $gray-1;    
      border-radius: 16px;
      width: 100%;
    }
  }
}
